@media screen and (max-width:992px){
    .navbar-brand{
        width: 80% !important;
        text-align: center !important;
    }
}

@media screen and (max-width:492px){
    .navbar-brand{
        width: 50% !important;
        text-align: center !important;
    }
}