@media screen and (max-width:992px){
    .navbar-brand{
        width: 60% !important;
        text-align: center !important;
    }
}

@media screen and (max-width:492px){
    /*.navbar-brand{
        width: 50% !important;
        text-align: center !important;
    }*/
    #btnMeni btn, #kolicaKupovina i{
        font-size: 15px;
    }
}