@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
}

.bojaShimmer {
  color: #E9C490;
}

.bgShimmer {
  background-color: #E9C490;
}

.borderShimmer {
  border: 2px solid #E9C490;
}

#traka a {
  color: #E9C490;
}

#traka #info {
  color: white;
}

#traka i {
  font-size: 20px;
  padding: 5px;
  color: #E9C490;
}

#navigacija {
  background-color: white;
}

#navigacija img {
  width: 70%;
}

#navigacija #btnMeni:hover {
  color: #E9C490;
}

#navigacija a {
  color: #000;
  font-size: 20px;
}

#navigacija .active {
  border-bottom: 3px solid #E9C490;
}

#navigacija #kolicaKupovina {
  color: #E9C490;
  font-size: 20px;
  cursor: pointer;
}

#blurPozadina {
  border: 1px solid #E9C490;
  background-image: url("../images/pozadina.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.omotacBlur {
  width: 100%;
  height: 100%;
  margin: 0px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pozadina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/pozadina.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

#pozadina #drugiFont {
  font-family: 'Italianno', cursive;
}

#naslovSlajder {
  color: white;
  border-color: #E9C490;
  border-width: 10px;
  border-style: double;
  padding: 30px 85px;
  text-shadow: 2px 2px 2px #000;
  background-color: rgba(0, 0, 0, 0.5);
}

#footer {
  border-top: 2px solid #E9C490;
}

#footer #footerLinkoviMeni li a, #footer #autor li a {
  color: #000;
}

#footer #footerPotpis {
  border-top: 2px solid #E9C490;
}

.listaSocMreze li a {
  color: #E9C490;
  font-size: 20px;
  text-align: center;
}

#btnInfo {
  background-color: #E9C490;
  color: white;
}

a:hover {
  color: #E9C490;
}

#mapa {
  width: 100%;
  height: 400px;
}

#slikaKontakt {
  height: 500px;
  -webkit-box-shadow: 50px 30px 10px #E9C490;
          box-shadow: 50px 30px 10px #E9C490;
}

img.slikaKartica {
  width: 5%;
  margin: 0px auto;
}

img.logoTekst {
  width: 20%;
}

#oNama {
  border: 2px solid #E9C490;
}

#oNama #slika_o_nama {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.listaPitanja p {
  display: none;
  border-left: 1px solid #E9C490;
  border-bottom: 1px solid #E9C490;
  border-right: 1px solid #E9C490;
}

.listaPitanja li {
  cursor: pointer;
  border: 1px solid #E9C490 !important;
}

.strelicaGore {
  display: none;
}

#miniIspisFiltera, #sadrzajSort {
  display: none;
  border-left: 1px solid #E9C490;
  border-bottom: 1px solid #E9C490;
  border-right: 1px solid #E9C490;
  cursor: pointer;
}

#otvoriFilter, #otvoriSort {
  cursor: pointer;
}

#otvoriFilter {
  color: white;
}

#otvoriSort {
  border: 1px solid #E9C490;
}

img#grid4 {
  width: 20px;
  cursor: pointer;
  display: none;
}

#grid2, #grid3, #ikonicaSearch {
  font-size: 20px;
  cursor: pointer;
}

.form-control:focus, .form-select:focus {
  border-color: #E9C490 !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

input.form-check-input:checked {
  background: #E9C490;
  border-color: rgba(0, 0, 0, 0.5);
}

/* loader */
.ball-clip-rotate-multiple {
  position: relative;
}

.ball-clip-rotate-multiple > div {
  position: absolute;
  left: -20px;
  top: -20px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  -webkit-animation: rotate 1s 0s ease-in-out infinite;
  animation: rotate 1s 0s ease-in-out infinite;
}

.ball-clip-rotate-multiple > div:last-child {
  display: inline-block;
  top: -10px;
  left: -10px;
  width: 15px;
  height: 15px;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  border-color: #fff transparent;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

.loader {
  position: fixed;
  z-index: 10000;
  background-color: #E9C490;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* modal */
#modal-bg, #modal-bg-korpa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
}

#modal-bg .modalX, #modal-bg-korpa .modalX {
  cursor: pointer !important;
}

#modal-bg #modal, #modal-bg #modalKorpa, #modal-bg-korpa #modal, #modal-bg-korpa #modalKorpa {
  width: 40%;
}

.modal_active {
  visibility: visible !important;
  opacity: 1 !important;
}

#iznos {
  width: 30px;
  text-align: center;
}

.smanji, .povecaj {
  font-size: 20px;
  cursor: pointer;
}

.smanji {
  display: none;
}
/*# sourceMappingURL=style.css.map */